.container {
  display: flex;
  flex-direction: column;
  margin: 2.3rem 6.2rem 0;
}

.card {
  background-color: #fff;
  border: solid 1px #e8e8e8;
  padding: 2rem;
  font-family: 'Roboto Slab';
}

.details {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.details > * {
  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
  margin-top: 0.8rem;
}

.buttons > * {
  border: none;
  background-color: #fff;
}
