.formArea {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.form {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
}

.form > * {
  padding: 1rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  margin: 0.5rem;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

form::placeholder {
  color: #c4c4c4;
}

.title {
  flex-grow: 1;
}

.writer {
  flex-grow: 1;
}

.category {
  flex-grow: 1;
}

.submit {
  flex-shrink: 1;
}

.form > button {
  color: #fff;
  background-color: #0290ff;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
}
